@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* main css file */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.hero {
}

.hero > .navbar {
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.nav-left > img {
  height: 24px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
